# Copyright 2018-2020 Camilo Higuita <milo.h@aol.com>
# Copyright 2018-2020 Nitrux Latinoamericana S.C.
#
# SPDX-License-Identifier: GPL-3.0-or-later


[Desktop Entry]
Name=Files
Comment=File manager
TryExec=index
Exec=index %U
Terminal=false
Type=Application
Categories=Qt;KDE;System;FileTools;FileManager;
GenericName=File Manager
StartupNotify=true
Icon=index_new
MimeType=inode/directory;
PanelBehavor=3
