# Copyright 2018-2020 Camilo Higuita <milo.h@aol.com>
# Copyright 2018-2020 Nitrux Latinoamericana S.C.
#
# SPDX-License-Identifier: GPL-3.0-or-later


[Desktop Entry]
Name=Files
Name[zh_CN]=文件管理
Comment=File manager
TryExec=index
Exec=index %U
Terminal=false
Type=Application
Categories=Qt;KDE;System;FileTools;FileManager;
GenericName=File Manager
StartupNotify=true
Icon=index_new
MimeType=inode/directory;
#MimeType=inode/directory;image/gif;image/jpeg;image/tif;image/png;image/bmp;image/x-eps;image/x-ico;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/x-psd;image/x-webp;image/webp;application/ogg;application/x-ogg;application/sdp;application/smil;application/x-smil;application/streamingmedia;application/x-streamingmedia;application/vnd.rn-realmedia;application/vnd.rn-realmedia-vbr;
PanelBehavor=3






